<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="btcExchangeRateComparer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <btcExchangeRateComparer.Properties.Settings>
            <setting name="KrakenBaseAddress" serializeAs="String">
                <value>https://api.kraken.com</value>
            </setting>
            <setting name="KrakenApiVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KrakenKey" serializeAs="String">
                <value>your kraken key</value>
            </setting>
            <setting name="KrakenSecret" serializeAs="String">
                <value>your kraken secret</value>
            </setting>
        </btcExchangeRateComparer.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="KrakenBaseAddress" value="https://api.kraken.com"/>
    <add key="KrakenApiVersion" value="0"/>
    <add key="KrakenKey" value="ACRYCz7+62WlUG4kvpEaxKa2ldgndNI3JYFh5BkkrAeAB2+mkfZ7fjgW"/>
    <add key="KrakenSecret" value="aVucpONA0yVeBOX6IlkeGCZIvo1PQX2DqgTSmbo6nmlDQhdou+A5K5oRjrltl+H7V3vVyHmQjyAX4AbI llVu9Q=="/>
  </appSettings>
</configuration>

