<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="courseAlarm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <courseAlarm.Properties.Settings>
            <setting name="KrakenBaseAddress" serializeAs="String">
                <value>https://api.kraken.com</value>
            </setting>
            <setting name="KrakenApiVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KrakenKey" serializeAs="String">
                <value />
            </setting>
            <setting name="KrakenSecret" serializeAs="String">
                <value />
            </setting>
        </courseAlarm.Properties.Settings>
    </userSettings>
</configuration>